<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<meta charset="UTF-8" />
<div th:include="lib::pagetitle"></div>
</head>
<body>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">A．基本信息</h3>
		</div>


		<form role="form" action="#" th:action="@{/a_basic}"
			th:object="${doc}" method="post">

			<fieldset>
				<div th:include="lib :: legend"></div>
				<div th:include="lib :: input1_row('A1.姓名:','请输入姓名',4,'name',true)"></div>
				<div th:include="lib :: radio2_row('A2.性别:','男','女','sex')"></div>
				<div class="form-group container row">
					<div th:include="lib :: quiz(3,'A3.年龄:')"></div>
					<div th:include="lib :: input1('',1,'age',false)"></div>
					<div th:include="lib :: label1(1,'岁')"></div>
				</div>
				<div class="form-group container row">
					<div th:include="lib :: quiz(3,'A4.患者编码:')"></div>
					<div th:include="lib :: label1(2,'CNSR3-')"></div>
					<div th:include="lib :: input1('',2,'code1',true)"></div>
					<div th:include="lib :: label1(1,'-')"></div>
					<div th:include="lib :: input1('',2,'code2',true)"></div>
				</div>
				<div
					th:include="lib :: input1_row('A5.身份证号:','请输入身份证号',7,'idcard',false)"></div>
				<div
					th:include="lib :: input1_row('A6.宅电1:','请输入宅电1',4,'telephone1',false)"></div>
				<div
					th:include="lib :: input1_row('A7.宅电2:','请输入宅电2',4,'telephone2',false)"></div>
				<div
					th:include="lib :: input1_row('A8.手机1:','请输入手机号码1',4,'cellphone1',false)"></div>
				<div
					th:include="lib :: input1_row('A9.手机2:','请输入手机号码2',4,'cellphone2',false)"></div>
				<div
					th:include="lib :: input1_row('A10.手机3:','请输入手机号码3',4,'cellphone3',false)"></div>

				<div class="form-group container">
					<div class="row">
						<label class="col-xs-3 control-label" style="padding-right: 0px">A11.现住址:</label>
						<div class="col-xs-2"
							style="padding-left: 0px; padding-right: 0px">
							<input type="text" class="form-control" th:field="*{province}"
								style="padding-left: 0px; padding-right: 0px; text-align: center"></input>
						</div>
						<label class="col-xs-1">省</label>
						<div class="col-xs-2"
							style="padding-left: 0px; padding-right: 0px">
							<input type="text" class="form-control" th:field="*{district}"
								style="padding-left: 0px; padding-right: 0px; text-align: center"></input>
						</div>
						<label class="col-xs-1">市</label>
						<div class="col-xs-2"
							style="padding-left: 0px; padding-right: 0px">
							<input type="text" class="form-control" th:field="*{city}"
								style="padding-left: 0px; padding-right: 0px; text-align: center"></input>
						</div>
						<label class="col-xs-1">区/县</label>
					</div>
				</div>

				<div
					th:include="lib :: input1_row('A12.住院号:','请输入11位数字',5,'admissionnum',false)"></div>
			</fieldset>
			<center>
				<div class="form-group container row">
					<button type="submit" class="btn btn-primary">保存</button>
				</div>
				<div class="form-group container row">
					<a th:href="@{/portal_personal}">
						<button type="button" class=" btn btn-default">返回</button>
					</a>
					<a th:href="@{/b_demographic}">
						<button type="button" class="btn btn-default" th:disabled="${session.name==null}">下一页</button>
					</a>
				</div>
			</center>
		</form>
	</div>
	<script th:src="@{js/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
	<script th:inline="javascript">
	console.log([[${doc.name}]]);
	</script>
</body>
</html>