<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<meta charset="UTF-8" />
<div th:include="lib::pagetitle"></div>
</head>
<body>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">B．人口学特征</h3>
		</div>

		<form role="form" action="#" th:action="@{/b_demographic}"
			th:object="${doc}" method="post">

			<fieldset>
				<div th:include="lib :: legend"></div>
				<div
					th:include="lib :: radio_suite('B1.民族:','nation',${ {'1-汉族','99-其他'} } , ${utility} )"></div>
				<div
					th:include="lib :: radio_suite('B2.婚姻状况:','marital',
					${ {'1-未婚', '2-已婚', '3-离异', '4-丧偶', '5-再婚', '98-不详'} } , ${utility} )"></div>
				<div th:include="lib :: quiz_row(10,'B3.发病前居住状况:')"></div>
				<div
					th:include="lib :: radio_answers('B3.发病前居住状况:','dwelling',${{'1-单独居住'}}, 1, ${utility})"></div>
				<div
					th:include="lib :: radio_answers('B3.发病前居住状况:','dwelling',${{'2-与他人同住  如果与他人同住，则同住者为:'}}, 2, ${utility})"></div>
				<div
					th:include="lib :: checkbox_answers('2-与他人同住',
						${ {'dwell_children','dwell_mate','dwell_parent','dwell_relative','dwell_nurse','dwell_other'} },
						${ {'1-子女','2-配偶','3-父母','4-亲戚','5-保姆等看护者','99-其他'} },2,${utility})"></div>
				<div
					th:include="lib :: radio_suite('B4.文化程度:','edu',
					${ {'1-大学本、专科或以上', '2-高中（包括中专）', '3-初中', '4-小学', '5-文盲', '98-不详'} },${utility} )"></div>
			</fieldset>
			<center>
				<div class="form-group container row">
					<button type="submit" class="btn btn-primary">保存</button>
				</div>
				<div class="form-group container row">
					<a th:href="@{/a_basic}">
						<button type="button" class="btn btn-default">上一页</button>
					</a>
					<a th:href="@{/portal_personal}">
						<button type="button" class=" btn btn-default">返回</button>
					</a>
					<a th:href="@{/todo}">
						<button type="button" class="btn btn-default">下一页</button>
					</a>
				</div>
			</center>
		</form>
	</div>
	<script th:src="@{js/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
	<script th:inline="javascript">
	console.log([[${doc.name}]]);
	</script>
</body>
</html>