<div th:fragment="pagetitle">
	<title>华山医院CRF系统</title>
</div>
<div th:fragment="copy">&copy; 复旦大学附属华山医院 脑出血CRF（SAH版）</div>
<div th:fragment="legend">
	<legend class="row" style="color: #337ab7">
		<label class="col-xs-6" th:text="*{name}" style="padding-left: 2em;"></label>
		<label class="col-xs-6" align="right"
			th:text="'CNSR3-' + *{code1} + '-' + *{code2}" th:if="*{code1!=null}"></label>
	</legend>
</div>
<div th:fragment="quiz(grids, text)">
	<label th:class="${'col-xs-' + grids}" style="padding-right: 0px"
		th:text="${text}">label</label>
</div>
<div th:fragment="quiz_row(grids, text)">
	<div class="form-group container row">
		<div th:include="lib :: quiz(${grids},${text})"></div>
	</div>
</div>
<div th:fragment="label1(grids, text)">
	<label th:class="${'col-xs-' + grids}"
		style="padding-left: 0px; padding-right: 0px; text-align: center"
		th:text="${text}">label</label>
</div>
<div th:fragment="input1(placeholder,grids,var_name,required)">
	<div th:class="${'col-xs-' + grids}"
		style="padding-left: 0px; padding-right: 0px">
		<input type="text" class="form-control"
			th:placeholder="${placeholder}" th:field="*{__${var_name}__}"
			th:required="${required}"> </input>
	</div>
</div>
<div th:fragment="radio1(quiz,text,grids,var_name,value)">
	<div class="radio">
		<label th:class="${'col-xs-' + grids}"> <input type="radio"
			th:name="${quiz}" th:value="${value}" th:text="${text}"
			th:field="*{__${var_name}__}"> </input>
		</label>
	</div>
</div>
<div th:fragment="checkbox1(quiz,text,grids,var_name,value)">
	<div class="checkbox">
		<label th:class="${'col-xs-' + grids}"> <input type="checkbox"
			th:name="${quiz}" th:value="${value}" th:text="${text}"
			th:field="*{__${var_name}__}"> </input>
		</label>
	</div>
</div>
<div th:fragment="blank1(grids)">
	<p th:class="${'col-xs-' + grids}" > </p>
</div>
<div th:fragment="input1_row(quiz,placeholder,grids,var_name,required)">
	<div class="form-group container row">
		<div th:include="lib :: quiz(3,${quiz})"></div>
		<div
			th:include="lib::input1(${placeholder},${grids},${var_name},${required})">
		</div>
	</div>
</div>

<div th:fragment="radio2_row(quiz,option1,option2,var_name)">
	<div class="form-group container row">
		<div th:include="lib :: quiz(3,${quiz})"></div>
		<div class="radio">
			<label class="col-xs-2 control-label"> <input type="radio"
				th:name="${quiz}" value="1" th:text="${option1}"
				th:field="*{__${var_name}__}"> </input>
			</label>
		</div>
		<div class="radio">
			<label class="col-xs-2 control-label"> <input type="radio"
				th:name="${quiz}" value="2" th:text="${option2}"
				th:field="*{__${var_name}__}"> </input>
			</label>
		</div>
	</div>
</div>
<div th:fragment="radio_answers(quiz,var_name,optionList,startFrom,utility)">
	<div th:with="arrays=${utility.grouping(optionList)},cursor=${utility.setCursor(0)}">
		<div th:each="array, arrayStat:${arrays}">
			<div class="form-group container row">
			<div th:include="lib :: blank1(1)"></div>
			<div th:each="option,optionStat:${array}">
				<div
					th:with="len=${#numbers.formatDecimal((#strings.length(option)+6)/3, 1, 0)}">
					<div
						th:include="lib :: radio1(${quiz},${option},${len},${var_name},${utility.step()+startFrom})"></div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>

<div th:fragment="radio_suite(quiz,var_name,optionList,utility)">
	<div class="form-group container row">
		<div th:include="lib :: quiz(3,${quiz})"></div>
	</div>
	<div
		th:include="lib :: radio_answers(${quiz},${var_name},${optionList},1,${utility})"></div>
</div>

<div th:fragment="checkbox_answers(quiz,varNameList,optionList,blanks,utility)">
	<div th:with="arrays=${utility.grouping(optionList)},cursor=${utility.setCursor(0)}">
		<div th:each="array, arrayStat:${arrays}">
			<div class="form-group container row">
			<div th:include="lib :: blank1(${blanks})"></div>
				<div th:each="option,optionStat:${array}">
					<div
						th:with="len=${#numbers.formatDecimal((#strings.length(option)+6)/3, 1, 0)}">
						<div
							th:include="lib :: checkbox1(${quiz},${option},${len},${varNameList[utility.step()]},${optionStat.index})"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:fragment="checkbox_suite(quiz,var_name,optionList,utility)">
	<div class="form-group container row">
		<div th:include="lib :: quiz(3,${quiz})"></div>
	</div>
	<div
		th:include="lib :: checkbox_answers(${quiz},${var_name},${optionList},${utility})"></div>
</div>
