<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<meta charset="UTF-8" />
<div th:include="lib::pagetitle"></div>
</head>
<body>
	<div class="panel panel-primary">
		<div class="panel-heading" th:object="${cid}">
			<div class="row">
				<h3 class="panel-title col-xs-6" th:text="*{name}"></h3>
				<h3 class="panel-title col-xs-6" align="right"
					th:text="'CNSR3-' + *{code1} + '-' + *{code2}"></h3>
			</div>
		</div>

		<fieldset>
			<div class="panel-body" align="center">
				<a href="a_basic.html"
					th:href="@{/a_basic(name=${cid.name},code1=${cid.code1},code2=${cid.code2})}">
					<button class="btn-lg btn-primary">入院访视信息</button>
				</a>
			</div>
			<div align="center" class="panel-body">
				<a href="h_resident_check.html"
					th:href="@{/h_resident_check(name=${cid.name},code1=${cid.code1},code2=${cid.code2})}">
					<button class="btn-lg btn-primary">出院访视信息</button>
				</a>
			</div>
			<div align="center" class="panel-body">
				<a href="a_basic.html"
					th:href="@{/h_resident_check(name=${cid.name},code1=${cid.code1},code2=${cid.code2})}">
					<button class="btn-lg btn-primary">6个月访视信息</button>
				</a>
			</div>
		</fieldset>
		<div align="center" class="panel-body">
			<a href="portal_personal.html" th:href="@{/portal}">
				<button type="button" class=" btn btn-default">返回</button>
			</a>
		</div>
	</div>
	<script th:src="@{js/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>