<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<meta charset="UTF-8" />
<div th:include="lib::pagetitle"></div>
</head>
<body>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">操作结果</h3>
		</div>
		<div class="alert " align="center">保存信息成功！</div>
		
<!-- 		<div class="alert alert-success" align="center">操作成功！</div> -->
		<!-- <div class="alert alert-info">信息！请注意这个信息。</div> -->
		<!-- <div class="alert alert-warning">警告！请不要提交。</div> -->
		<!-- <div class="alert alert-danger">错误！请进行一些更改。</div> -->

		<div align="center">
			<a href="portal.html" th:href="@{/portal}">
			<button class="btn-default">返回</button>
			</a>
		</div>
	</div>
</body>
</html>